.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.app-header {
  position: sticky;
  top: 0px;

  background-color: white;
}

.filter-form {
  background-image: url("img/Rectangle4.png");
  margin: 0px -40px 0px -40px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.filter-header-btn {
  display: inline-block;
  min-height: 42px;
  min-width: 42px;
  margin: 0px 40px 0px 30px;
  background-image: url(img/Slider.png);
  background-size: 80%;
  background-color: #ee2274;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-right: 10px;
  transition: 1s;
}

.filter-header-btn:active {
  background-color: black;
  filter: invert(1);
}

.filter-tittle-input {
  display: inline-block;
  width: 85%;
  margin: 0px 30px 0px 0px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

.filter-props {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0 30px;
}

.filter-props-item {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 28%;
  margin-right: 10px;
}

.filter-props-item:last-child {
  margin-right: 0px;
}

.filter-apply {
  margin-left: 30px;
}

.form-modal {
  display: inline-block;
}

.header-form {
  display: flex;
  font-size: 35px;
  /* identical to box height */

  color: #000000;
}

.btn-filter-apply {
  padding: 5px;
  color: #ffffff;
  background-color: #ee2274;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-filter-apply:active {
  background-color: black;
  filter: invert(1);
}

.task-list-item {
  display: flex;
  justify-content: space-between;
}

.task-list-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list-item-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: url("img/Waste.png");
  background-size: 100%;
}

.task-dates {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.task-dates-item {
  margin-right: 10 px;
}

.task-list-item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 47px;
  color: #000000;
}

.btn-edit {
  display: inline-block;
  min-height: 30px;
  min-width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: url("img/EditProperty.png");
  background-size: 100%;
}

.task-list-item-title input {
  margin: -10px 20px 0px 0px;
}

.btn-add-task {
  display: inline-block;
  min-height: 42px;
  min-width: 42px;
  background-size: 80%;
  background-color: #ee2274;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: 1s;
  background-image: url("img/PlusMath.png");
}

.btn-add-task:active {
  background-color: black;
  filter: invert(1);
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal-container {
  display: flex;
  flex-direction: column;
}
.modal-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* width: 100vw;
  padding: 20px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all; */
}

.modal-content.active {
  transform: (1);
  justify-content: flex-start;
}
